<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Carta de cobrança</title>
        <link rel="stylesheet" href="static/css/jquery-ui-1.10.4.custom.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="static/css/app.css" type="text/css" media="screen" charset="utf-8">
    </head>
<body>
    <div class="row">
        <div class="col-md-4">
            <h1>Gerar carta de cobrança</h1>
            <form action="cartas" method="post" id="form1">

                <div class="line">
                    <label for="empresa">Empresa:</label>
                    <select name="empresa" id="empresa">
                        %for iid, empresa in empresas:
                        <option value="{{iid}}">{{empresa}}</option>
                        %end
                    </select>
                </div>
                
                <div class="line">
                    <label for="grupo">Grupos:</label>
                    <select name="grupo" id="grupo">
                        <option value="todos">Todos</option>
                        %for grupo, in grupos:
                        <option value="{{grupo}}">{{grupo}}</option>
                        %end
                    </select>
                </div>

                <div class="line">
                    Situação: <br>
                    <input type="radio" name="situacao" id="rTodos" value="todos">
                    <label for="rTodos">todos</label>
                    <input type="radio" name="situacao" id="rAtivos" value="ativos" checked>
                    <label for="rAtivos">ativos</label>
                    <input type="radio" name="situacao" id="rBloqueados" value="bloqueados">
                    <label for="rBloqueados">bloqueados</label>
                    <input type="radio" name="situacao" id="rDesativados" value="desativados">
                    <label for="rDesativados">desativados</label>
                </div>

                <div class="line">
                    <div class="bloco">
                        <label for="data_inicial">Vencimento inicial: </label>
                        <input type="text" name="data_inicial" value="" id="data_inicial">
                    </div>
                    <div class="bloco">
                        <label for="data_final">Vencimento final:</label>
                        <input type="text" name="data_final" value="" id="data_final">
                    </div>
                </div>

                <div class="line">
                    <div class="bloco">
                        <label for="data_pagamento">Data para pagamento:</label>
                        <input type="text" name="data_pagamento" value="" id="data_pagamento">
                    </div>
                    <div class="bloco">
                        <label for="data_corte">Data do corte:</label>
                        <input type="text" name="data_corte" value="" id="data_corte">
                    </div>
                </div>

                <div class="line">
                    <div class="bloco">
                        <label for="taxa_religamento">Taxa de religamento</label>
                        <input type="text" name="taxa_religamento" value="{{taxa_religamento}}" id="taxa_religamento">
                    </div>
                </div>

                <p><input type="submit" value="Gerar"></p>
            </form>
        </div>
    </div>

    <script src="static/js/jquery-1.10.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/jquery-ui-1.10.4.custom.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/jquery.ui.datepicker-pt-BR.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
