<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Carta de cobrança</title>
        <link rel="stylesheet" href="static/css/jquery-ui-1.10.4.custom.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="static/css/app.css" type="text/css" media="screen" charset="utf-8">
    </head>
<body>
    <div class="row">
        <div class="col-md-4">
            <h1>Gerar carta de cobrança</h1>
            <form action="/cartas" method="post" id="form1">

                <div class="line">
                    <label for="empresa">Empresa:</label>
                    <select name="empresa" id="empresa">
                        %for iid, empresa in empresas:
                        <option value="{{iid}}">{{empresa}}</option>
                        %end
                    </select>
                </div>
                
                <div class="line">
                    Situação: <br>
                    <input type="radio" name="situacao" id="rTodos" value="todos">
                    <label for="rTodos">todos</label>
                    <input type="radio" name="situacao" id="rAtivos" value="ativos" checked>
                    <label for="rAtivos">ativos</label>
                    <input type="radio" name="situacao" id="rBloqueados" value="bloqueados">
                    <label for="rBloqueados">bloqueados</label>
                    <input type="radio" name="situacao" id="rDesativados" value="desativados">
                    <label for="rDesativados">desativados</label>
                </div>

                <div class="line">
                    <div><label for="eDiasAtraso1">Dias em atraso</label></div>
                    <input type="number" id="eDiasAtraso1" name="diasatraso1" value="1">
                    <label for="eDiasAtraso2">até</label>
                    <input type="number" id="eDiasAtraso2" name="diasatraso2" value="15">
                </div>

                <div class="line">
                    <div><label for="eParcelaAtraso1">Parcelas em atraso</label></div>
                    <input type="number" id="eDiasAtraso1" name="parcelaatraso1" value="1">
                    <label for="eParcelaAtraso2">até</label>
                    <input type="number" id="eDiasAtraso2" name="parcelaatraso2" value="2">
                </div>

                <div class="line">
                    <div>Período de vencimento: </div>
                    <input type="text" name="data_inicial" value="" id="data_inicial">
                    <label for="data2">até</label>
                    <input type="text" name="data_final" value="" id="data_final">
                </div>

                <p><input type="submit" value="Gerar"></p>
            </form>
        </div>
    </div>

    <script src="static/js/jquery-1.10.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/jquery-ui-1.10.4.custom.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/jquery.ui.datepicker-pt-BR.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
