body {
    margin: 10px 30px;
}

h1, .h1 {
    font-size: 25px;
}

.line {
    margin-bottom: 10px;
}

.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

label {
    font-weight: normal;
}

input[type="radio"], input[type="checkbox"] {
    margin-left: 18px;
    margin-top: 10px;
}

.bloco {
    width: 175px;
    display: inline-block; 
}
