<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title></title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
        }

        .breakhere {
            page-break-before: always
        }

        p.western {
            text-indent: 20px;
            text-align: justify;
            margin-top: 0;
            margin-bottom: 7px;
            font-size: 9pt;
        }

        .mono {
            font-family: monospace;
            font-size: 12px;
        }

        .mono td {
            border: none;
        }

        .mono th {
        width: 100px;
        text-align: left;
        }

        td {
            border: 1px solid black;
            padding: 2px;
        }

        table {
            font-family: Arial, sans-serif;
            margin-bottom: 10px;
            font-size: 11px;
            border-collapse: collapse;
        }

        .center {
            text-align: center;
        }

        img {
            margin-left: 0px; 
        }
    </style>

</head>
<body lang="pt-BR" text="#000000" dir="LTR" style=" width: 916px; height: 842px; width: 595px; margin-left: auto; margin-right: auto;">

{% for titulo in titulos|groupby('numero') %}
{% set cliente = titulo[1][0] %}
<div type="HEADER">

  <p style="margin-bottom: 0cm; text-align: right;">
      <font face="Arial, sans-serif">
          <font size="4">
              <img src="logo_empresa_{{ empresa.idempresa }}.jpg" name="figuras1" align="LEFT" hspace="12" width="177" height="80" border="0">
              {{ empresa.fantasia }}
          </font>
      </font>
  </p>
  
  <p style="text-align: right;"> <font size="4"> <b>AVISO IMPORTANTE</b> </font></p>
</div>

<div align="RIGHT">
	<p align="RIGHT">
        <font face="Arial, sans-serif">
            <font size="2" style="font-size: 11pt">
              <b>{{ empresa.cidade }}, {{ emissao|data }}</b>
            </font>
        </font>
    </p>
</div>

<p style="margin-top: 0cm; margin-bottom: 0.18cm; widows: 0; orphans: 0">
<font face="Arial, sans-serif"><font size="2" style="font-size: 11pt"><b>Prezado(a) Cliente,</b></font></font></p>

<table cellpadding="3" cellspacing="0" style=" width: 100%; font-size: 11px; font-family: Arial, sans-serif; margin-bottom: 30px; ">
    <colgroup>
        <col width="88">
        <col width="132">
        <col width="85">
        <col width="103">
        <col width="75">
        <col width="54">
    </colgroup>
    <tbody>
        <tr valign="TOP">
            <td><b>CLIENTE</b></td>
            <td colspan="3" width="340"> <b>{{ cliente.nome }}</b> </td>
            <td width="75" > <b>CONTRATO</b> </td>
            <td width="54" > <b>{{ cliente.contrato }}</b> </td>
        </tr>
        <tr valign="TOP">
            <td width="88" height="5">ENDEREÇO </td>
            <td colspan="5" width="489">{{ cliente.endereco }}</td>
        </tr>
        <tr valign="TOP">
            <td width="88" height="5">BAIRRO</td>
            <td colspan="5" width="489">{{ cliente.bairro }}</td>
        </tr>
        <tr valign="TOP">
            <td width="88" height="4" > TELEFONE </td>
            <td width="132" >{{ cliente.telefone }}</td>
            <td width="85" > CIDADE </td>
            <td colspan="3" width="253" >{{ cliente.cidade }}</td>
        </tr>
    </tbody>
</table>

<p class="western">
    Até a data da emissão desta carta, não constava em nossos controles a confirmação do pagamento de sua(s) mensalidade(s).
</p>

<p class="western">
    Solicitamos que a situação seja regularizada o mais rápido
    possível. É importante que o pagamento tenha sido efetuado para evitar que as
    medidas legais sejam adotadas:
</p>

<p class="western">- Desligamento do sinal.</p>

<p class="western">
    Gostaríamos de mantê-lo (a) como cliente. Sendo assim é
    expressamente necessário que efetue o pagamento até {{ pagar_ate|data }}. 
    Não ocorrendo o mesmo, o bloqueio do seu sinal será no dia <font color="#31849b"><b>{{ data_bloqueio|data }}</b></font>. EVITE O CORTE.
</p>

<p class="western">
    Sendo efetuado o corte, o valor da taxa de religamento será de R$
    {{ taxa_religamento }} até as 18 horas e a dívida que consta abaixo, 
    <i><u>deverá ser quitada</u></i>, não sendo aceito o pagamento parcial do valor devido.
</p>

<p class="western">
    Desde já agradecemos a sua atenção, certos que poderemos contar com suas
    providências imediatas. Colocamos-nos à sua inteira disposição para quaisquer
    esclarecimentos que se façam necessários pelo
    telefone {{ empresa.telefone }}
</p>

<p class="western">
    <font face="Arial, sans-serif">
        <font size="2" style="font-size: 9pt">Obs.:
        Por favor, caso seu pagamento já tenha sido normalizado após o envio desta
        carta, entre em contato para desconsiderar este aviso do Sistema de Cobrança
        Automático. Será acrescentada multa de 2% para
        as mensalidades vencidas, mais juros.
    </font>
</font>
</p>

<p><b>Boleto(s) em aberto no sistema:</b></p>

<div style="height: 70px; max-height: 70px; margin-bottom: 20px;">
    <table border="0" class="mono">
        <tr><th>NOSSO NÚMERO</th><th>VENCIMENTO</th><th>VALOR</th><th>ATRASO</th></tr>
        {% for boleto in titulo.list %}
        <tr>
            <td>{{ boleto.nossonumero }}</td>
            <td>{{ boleto.vencimento|data }}</td>
            <td>{{ boleto.valor_com_juros|money }}</td>
            <td>{{ boleto.dias_atraso }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<p class="center">Atenciosamente,<br>
<font face="Arial, sans-serif"><font size="2">{{ empresa.fantasia }}</font></font></p>

<div id="rodape" style="position: relative; top: 0px;">
    <div style="border-bottom: 1px dashed; margin-top: 30px; margin-bottom: 10px"></div>

    <table width="599" cellpadding="5" cellspacing="0">
        <colgroup>
            <col width="88">
            <col width="132">
            <col width="85">
            <col width="103">
            <col width="75">
            <col width="54">
        </colgroup>
        <tbody>
            <tr>
                <td width="88" height="4"> <b>CLIENTE</b> </td>
                <td colspan="3" width="340"> <b>{{ cliente.nome }}</b> </td>
                <td width="75" > <b>CONTRATO</b> </td>
                <td width="54" > <b>{{ cliente.contrato }}</b> </td>
            </tr>
            <tr>
                <td width="88" height="5" > ENDEREÇO </td>
                <td colspan="5" width="489" >{{ cliente.endereco }}</td>
            </tr>
            <tr>
                <td width="88" height="5" > BAIRRO </td>
                <td colspan="5" width="489" >{{ cliente.bairro}}</td>
            </tr>
            <tr>
                <td width="88" height="4" > TELEFONE </td>
                <td width="132">{{ cliente.telefone }}</td>
                <td width="85"> CIDADE </td>
                <td colspan="3" width="253" >{{ cliente.cidade }}</td>
            </tr>
        </tbody>
    </table>

    <p align="CENTER">
        <font face="Arial, sans-serif">
            <font size="2" style="font-size: 11pt">
                <b>COMPROVANTE DE ENTREGA</b>
            </font>
        </font>
    </p>

    <p align="JUSTIFY">
    <font face="Arial, sans-serif"><font size="2" style="font-size: 11pt">Declaro ter recebido a solicitação de comparecimento à {{ empresa.fantasia }}, com a finalidade de regularizar situação pendente.</font></font></p>

    <div style="float:left;">______/______/______</div>
    <div style="float:right;">
        ________________________________________
        <div style="text-align: center;">Assinatura Legível</div>
    </div>
</div>

<div style="clear: both;"></div>
<div class="breakhere"></div>

{% endfor %}

</body>
</html>

